{% extends "base.njk" %}

{% block content %}

  <div id="top" role="document">

    {% include "header.njk" %}

    <main role="main">
      <article>
        <p><b>{{ package.description }}</b></p>
      </article>
      <article>

        <section>
          <h2>Installation</h2>
<p>CDN Development (redirect to latest)</p>
<pre><code>&lt;link rel=&quot;stylesheet&quot; href=&quot;https://unpkg.com/{{ package.name }}/dist/{% raw %}{{{% endraw %} theme_name {% raw %}}}{% endraw %}.min.css&quot;/&gt;</code></pre>
<p>CDN Production (specific release)</p>
<pre><code>&lt;link rel=&quot;stylesheet&quot; href=&quot;https://unpkg.com/{{ package.name }}@{{ package.version }}/dist/{% raw %}{{{% endraw %} theme_name {% raw %}}}{% endraw %}.min.css&quot;/&gt;</code></pre>
<p>NPM package</p>
<pre><code>$ npm install --save-dev {{ package.name }}</code></pre>
<p>CSS import</p>
<pre><code>@import url(&quot;https://unpkg.com/{{ package.name }}@{{ package.version }}/dist/{% raw %}{{{% endraw %} theme_name {% raw %}}}{% endraw %}.min.css&quot;);</code></pre>
        </section>
      </article>
      <hr>
    </main><!-- role main -->
  </div><!-- role document  -->

{% endblock %}
