<!doctype html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ package.name }} - {{ package.description }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/hyper-reset/dist/hyper-reset.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/hyper-auto-layout/dist/hyper-auto-layout.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/hyper-properties/dist/hyper-properties.min.css"/>
  </head>
  <body>
    {% block content %}
      {# content will be injected here #}
    {% endblock %}
  </body>
</html>
