<!doctype html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ package.name }} - {{ package.description }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/hyper-reset-css@2.2.1/dist/reset.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/hyper-layout-css@1.3.0/dist/layout.min.css"/>
    <link rel="stylesheet" href="https://unpkg.com/hyper-properties-css@1.12.0/dist/properties.min.css"/>
    {% block theme %}
      {# css link will be injected here #}
    {% endblock %}
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/prism.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.1/components/prism-php.js"></script>
  </head>
  <body>
    {% block content %}
      {# content will be injected here #}
    {% endblock %}
  </body>
</html>
