<a href="https://twitter.com/intent/tweet/?&text={{ package.description | urlencode }}%20»&url={{ package.demo.url }}&via={{ package.author.twitter.url }}"><img src="https://img.shields.io/twitter/url/http/shields.io.svg?style=social&maxAge=2592000" alt="Tweet this" /></a>
<a href="{{ package.repo.url }}"><img src="https://img.shields.io/github/stars/heyallan/{{ package.name }}.svg?style=social&label=Stars&maxAge=2592000" alt="Fork me on GitHub" /></a>
